@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Luckiest+Guy&display=swap");

body {
  background: rgb(18, 18, 65);
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Luckiest Guy", cursive;
  font-size: 5rem;
  text-align: center;
  background: radial-gradient(
    circle,
    #8e86ff 0%,
    #ed88ff 20%,
    #6eeeff 40%,
    #61ff67 60%,
    #ffb560 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title span {
  visibility: hidden;
}

@media (max-width: 475px) {
  .title {
    font-size: 4rem;
  }
}
